{% extends "layout.html" %}

{% block title %}
  {% for book in books %}
    {{books.title}} by {{books.author}}
  {% endfor%}
{% endblock %}

{% block body %}
  {% if session.log %}

<div class="container bg-dark text-white my-2 w-75 p-3 border border-secondary">
    <h1 class='container bg-white text-dark text-center my-2 p-2'>{{books.title}}</h1>
    <div class='col'>
        Author:<h2> {{books.author}}</h2>
        Year:<h2> {{books.year}}</h2>
        ISBN:<h2> {{books.isbn}}</h2>
    </div>
    <div class='col text-center bg-info my-2 p-2'>
        <h2 class=''>Goodreads Rating: </h2>
        <h1>{{average_rating}}</h1>
        <h5 class=''>Reviews received: </h5>
        <h3>{{work_ratings_count}}</h3>
    </div>
</div>


  {% if reviews != None %}
    {% for review in reviews %}
<div class='container bg-dark my-3 text-white w-75 p-3 border border-secondary'>
    <h6 class='m-2'>Rating: {{review.rating}} of 5</h6>
    <blockquote class="blockquote">
    <h4 class='m-2'>{{review.review}}</h4>
    <footer class="blockquote-footer">{{review.user_name}}</footer>
    </blockquote>
</div>
    {% endfor %}
  {% endif %}

<div class="container bg-dark my-2 w-75 p-3">
    <form class="form-group" action="{{url_for("book", isbn = books.isbn)}}" method="POST">
        <label class="text-white">Write your review...</label>
        <select name="rating" class="m-1" required>
            <option selected value disabled> -- select rating -- </option>
            <option value="1">1 star</option>
            <option value="2">2 stars</option>
            <option value="3">3 stars</option>
            <option value="4">4 stars</option>
            <option value="5">5 stars</option>
        </select>

        <textarea class="form-control p-3" name="comment"></textarea>
        <input class="btn btn-outline-secondary text-white float-right m-3" type="submit" value="Send review">
    </form>
</div>

<div class="bg-dark my-2 p-3 text-left"><a href="/api/{{books.isbn}}">API</a></div>


  {% endif %}
{% endblock %}
